#coding Quiz {
    text-align: center;
    display: block;
}

body 
        #grad {
        background-image: linear-gradient(green, blue);
        background-attachment: fixed;
        background-attachment: top;
        min-height: 100px;
      }

nav {
    background-color: ivory;
    color: midnightblue;
}

.navbar-brand {
    color: white;
}

button {
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    margin-top: 50px;
}

.card-body {
    background-color: lightgray;
}

li {
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.questions {
    display: block;
}

ul {
    list-style-type: none;
}

li {
    display: table;
}

.scoreli {
    border-radius: 3px;
    display: table;
    width: 100px;
}